packages:
  yum:
    supervisor: []

files:
  "/etc/supervisord.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [supervisord]
      nodaemon=true

      [program:web]
      command=/usr/bin/python3 app.py
      directory=/var/app/current
      autostart=true
      autorestart=true
      stderr_logfile=/var/log/web.err.log
      stdout_logfile=/var/log/web.out.log

      [program:worker]
      command=/usr/bin/python3 client.py
      directory=/var/app/current
      autostart=true
      autorestart=true
      stderr_logfile=/var/log/worker.err.log
      stdout_logfile=/var/log/worker.out.log

commands:
  01_create_log_dir:
    command: "mkdir -p /var/log/supervisor"
  02_start_supervisor:
    command: "supervisord -c /etc/supervisord.conf"

container_commands:
  01_restart_supervisor:
    command: "supervisorctl -c /etc/supervisord.conf restart all"
